@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #530097;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%238400ef' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 0;
    margin: 0;
}

#root {
    max-width: 1200px;
    padding: 0 5rem;
    background: #530097;
    border-left: 2px dotted #90f;
    border-right: 2px dotted #90f;
}

.header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
}

h2 {
    margin: 0;
    font-family: "New Rocker", cursive;
    font-size: 3rem;
}

h3 {
    font-family: "Arvo", serif;
    font-weight: 100;
    font-size: 1.25rem;
}

.header-text h1 {
    font-family: "New Rocker", cursive;
    font-weight: 100;
    font-size: 5rem;
    margin: 0;
    text-shadow: 0 0.4rem #31005f;
}

.header-text p {
    margin-top: 0;
    font-family: "Arvo", serif;
    font-weight: 100;
}

.header-text a {
    color: #fff;
    text-decoration: none;
}

.header-text h2 {
    font-family: "Arvo", serif;
    font-weight: 100;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-align: right;
}

.date-text {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-text h3 {
    background: #fff;
    color: #530097;
    padding: 1rem;
    border-radius: 5px;
}

.date-text-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin: 0;
    padding-bottom: 1rem;
}

section h2 {
    font-family: "New Rocker", cursive;
    font-weight: 100;
    font-size: 2rem;
}

section ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
    max-height: 300px;
    width: inherit;
    margin: 0;
}

section li {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-size: 1rem;
    list-style-type: none;
}

.reservation-form {
    font-family: "Arvo", serif;
    font-weight: 400;
    width: 45%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.attendees {
    display: flex;
    flex-direction: column;
    width: 45%
}

.reservation-form h3 {
    font-family: 'New Rocker', cursive;
    font-weight: 100;
    font-size: 1.5rem;
    margin: 0;
}

.reservation-form form {
    display: flex;
    flex-direction: column;
}

.reservation-form label, .reservation-form input, .reservation-form button {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.reservation-form input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-family: "Arvo", serif;
    box-shadow: 0 0.4rem #31005f;
}

button {
    background-color: #9900ff;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: #fff;
    box-shadow: 0 0.4rem #31005f;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: "Arvo", serif;
}

button:active {
    color: white;
    box-shadow: 0 0.2rem #31005f;
    transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
    background: #b649ff;
    color: white;
    text-shadow: 0 0.1rem #31005f;
}

button:disabled {
    cursor: auto;
    color: grey;
}

.game-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.game-card {
    background: #006a4c;
    color: #fff;
    border-radius: 5px;
    width: 25%;
    padding: 1rem;
    font-family: "Arvo", serif;
    box-shadow: 0 0.4rem #31005f;
    border: 2px solid #000;
    transition: all 0.2s ease-in-out;
}

.game-card:hover {
    background: #008060;
}

.game-card h3 {
    margin: 0;
    text-align: center;
}

.game-card .game-card-header {
    margin-bottom: 1rem;
}

.game-card p {
    margin: 0;
}

.game-card ul {
    margin: 0;
}

.game-card .game-players, .game-card .game-host {
    text-align: center;
    font-size: 0.9rem;
}

.game-card label, .game-card input, .game-card button {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.game-card button {
    background: #00431a;
    box-shadow: 0 0.4rem #00270f;
}

.game-card button:hover {
    background: #007252;
}

.add-game-button {
    width: 100%;
}

article {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.add-game-form-hidden {
    display: none;
}

.add-game-form form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 30%;
    background: #4e6e5d;
    padding: 1rem;
    color: #fff;
    font-family: "Arvo", serif;
    border-radius: 5px;
}

.findus {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
    font-family: "Arvo", serif;
}

.findus-wrapper {
    display: flex;
    gap: 1rem;
}

.findus-map {
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 0.4rem #31005f;
}

footer {
    font-family: "Arvo", serif;
    font-weight: 400;
}